// for background image
.facts {
    min-height: 50vh;
    width: 100%;
    background: blue fixed no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}